.massageDiv{
    background-color: brown;
    color: blanchedalmond;
    padding: 10px 20px;
    margin: 10px ;
    border-radius: 5px;
    font-size: 1rem;
    opacity: 0;
    animation: fadeOut 7s forwards;

}

